# default jetbrains IDE folder
.idea
# node library root folder
node_modules
# avoid upload JSON files
*.json
# avoid updload CSV files
*.csv
# exception with package.json
!package.json
# enviroment variables
.env
